body {
    font-size: 10px;
    font-family: 'Comic Sans MS', sans-serif;
  }
  
  h1 {
    font-size: 40px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: #f7207a;
  }
  
  p, li {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 1px;
    text-align: center;
  }
  
  img {
    display: block;
    margin: 0 auto;
  }
  
  .text-center {
    text-align: center;
  }

  .comic {
    font-family: 'Comic Sans MS', cursive, sans-serif;
  }
